<a href="https://colab.research.google.com/github/Sjing2/SJ_practice/blob/master/crawl_test_1/crawl_test_1/spiders/23_Clustering_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#snap 모델에 적용하기 위한 데이터 전처리
- center_user를 중심으로 수집된 id목록에서 각각의 id들에 고유인덱스 붙여주기
- {id : id_index} 사전생성 -> id에 매칭하는 id_index를 snap에서 input data로 활용

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
4/4AHxskAz15GZnuOj42hN6rWZmTyPdwWfXsQ9T8MdGYNAmCDfCthiCLY
Mounted at /content/gdrive/

In [3]:
df = pd.read_csv('/content/gdrive/My Drive/인스타그램_프로파일링/Relation(start, end)/cc_2.csv')

In [4]:
df

             start          end
0      13580068590  27733156208
1      13337514500  27733156208
2      27961899505  27733156208
3       5772973535  27733156208
4      27733156208  13580068590
...            ...          ...
10530   3188424467   5557754898
10531   3188424467   5763414441
10532   3188424467  31450672398
10533   3188424467   3685838615
10534   3188424467   1435555268

[10535 rows x 2 columns]

In [5]:
# start칼럼 추출
start_df = df.drop('end', axis =1)

In [6]:
start_ls = list(np.unique(start_df))
len(start_ls)

4512

In [7]:
# end칼럼 추출
end_df = df.drop('start', axis =1)

In [8]:
end_ls = list(np.unique(end_df))
len(end_ls)

5625

In [9]:
# unique id목록 list
id_ls = start_ls + end_ls
id_uni_ls = list(np.unique(id_ls))

In [10]:
len(id_uni_ls)

8027

### {id : idx} 사전 생성

In [11]:
from collections import defaultdict

In [12]:
def id_to_dict(id_ls):
    #고유 id와 인덱스를 매칭시켜주는 사전 생성
    id2idx_dic = defaultdict(lambda: len(id2idx_dic))

    for ide in id_ls:
        id2idx_dic[ide]

    for i, v in enumerate(id_ls):
        index = id2idx_dic[v]

    return id2idx_dic

In [13]:
id2idx_dic = id_to_dict(id_ls)

In [14]:
len(id2idx_dic)

8027

### id를 사전에서 매칭되는 index값으로 변경
- id -> index값으로 변경한 후, start와 end를 txt파일로 저장하기

In [15]:
df # 처리 전

             start          end
0      13580068590  27733156208
1      13337514500  27733156208
2      27961899505  27733156208
3       5772973535  27733156208
4      27733156208  13580068590
...            ...          ...
10530   3188424467   5557754898
10531   3188424467   5763414441
10532   3188424467  31450672398
10533   3188424467   3685838615
10534   3188424467   1435555268

[10535 rows x 2 columns]

In [16]:
for i,v in enumerate(df['start']):
    for (key, elem) in id2idx_dic.items():
        if v == key:
            df['start'][i] = elem

In [17]:
for i,v in enumerate(df['end']):
    for (key, elem) in id2idx_dic.items():
        if v == key:
            df['end'][i] = elem

In [18]:
df # 처리 후

       start   end
0       2974  3581
1       2945  3581
2       3598  3581
3       1651  3581
4       3581  2974
...      ...   ...
10530    889  6552
10531    889  6620
10532    889  7898
10533    889  6113
10534    889  5009

[10535 rows x 2 columns]

In [19]:
df.to_csv('/content/gdrive/My Drive/프로젝트/network/cc_start_end2.txt', index=False, header=None, sep=" ")

### 커뮤니티 리스트의 index를 다시 id로 변환

In [20]:
Community_11 = [6121, 5092, 2084, 1688, 7186, 6340, 7597, 6544, 5110, 5914, 6087, 6381, 2576,
               4657, 4658, 3880, 784, 4631, 4581, 4378, 1214, 4364, 4257, 1087, 4063, 602, 3215,
               1600, 3698, 1864, 3558, 2811, 3498, 3183, 1209, 3279, 1607, 1066, 828, 1522, 1789,
               2501, 2346, 2221, 855, 1992, 1972, 1293, 1776, 1896, 5645, 7052, 7205, 7622, 6141,
               5870, 5923, 7536, 7139, 5240, 6085, 6680, 7227, 6138, 5209, 5569, 7469, 7260, 6054,
               5666, 5485, 6327, 5792, 6696, 6251, 6318, 7351, 6241, 6117, 6660, 6162, 7271, 7003,
               6918, 6570, 7437, 7235, 6000, 5676, 7135, 5661, 5702, 6289, 5543, 6860, 6345, 5759,
               5550, 5210, 6446, 6836, 5345, 7192, 7189, 6874, 7105, 6940, 6031, 5104, 6848, 5397,
               5282, 5097, 6685, 5919, 6463, 5628, 6844, 6198, 6083, 5760, 5326, 6346, 6295, 5640,
               5328, 6538, 5117, 4750, 5122, 4748, 5065, 6134, 1616, 5570, 6265, 5794, 6161, 5382,
               5171, 6172, 5338]
len(Community_11)

142

In [21]:
def transform_id(ls, dictionary):
    for i,idx in enumerate(ls):
        for (key, elem) in dictionary.items():
            if idx == elem:
                ls[i] = key
    return ls

In [22]:
transform_id(Community_11, id2idx_dic)

[3718164407,
 1496829078,
 7339383475,
 5867153383,
 8539103155,
 4480562868,
 17773924950,
 5531255709,
 1509018757,
 3120330711,
 3632329197,
 4592170390,
 9288379520,
 462752227,
 464124115,
 31983800078,
 2955200228,
 370846042,
 216110818,
 39006029761,
 4188929040,
 38880920594,
 37336776136,
 3880081215,
 34387920468,
 2231527770,
 18965126257,
 5648555517,
 29628271804,
 6607320264,
 27436032300,
 11563768429,
 26301372551,
 18261459664,
 4179344710,
 21026379793,
 5656210288,
 3676927271,
 3046536456,
 5461623011,
 6223839663,
 8892589714,
 8308505066,
 7867791568,
 3119753800,
 7080971886,
 7013764231,
 4372680899,
 6165954452,
 6726512171,
 2239574041,
 7912818922,
 8631679660,
 19045873444,
 3910694746,
 3019479486,
 3154864396,
 14718215454,
 8327299745,
 1643577836,
 3621970819,
 6003193008,
 8770599828,
 3898060691,
 1595142347,
 2126107440,
 12803183954,
 9162755526,
 3567406737,
 2268138288,
 2003605247,
 4458875249,
 2766271686,
 6069642451,
 4191989223,
 4394596181,
 10572821925,
 4172221055,
 3702035366,
 5897027169,
 3997665537,
 9229175560,
 7552920378,
 7109440842,
 5607759432,
 12138077010,
 8901908046,
 3461989976,
 2273563836,
 8293574749,
 2261725140,
 2297529618,
 4276267311,
 2092447733,
 6921893835,
 4491931781,
 2442748722,
 2101114864,
 1595239835,
 4856961851,
 6837775869,
 1778128622,
 8573529290,
 8551020527,
 6956530734,
 8167814923,
 7213554272,
 3533580439,
 1506146529,
 6888742412,
 1910752985,
 1698618179,
 1499879597,
 6017954788,
 3134343994,
 4953595761,
 2221342319,
 6872699830,
 4070753344,
 3618210456,
 2467238679,
 1752489826,
 4499469343,
 4292248344,
 2234643630,
 1756614351,
 5504270505,
 1515896107,
 811242398,
 1517953645,
 799950200,
 1474886680,
 3879369176,
 5679206892,
 2126423203,
 4220458917,
 2773590780,
 3983914656,
 1835556682,
 1559168210,
 4024075850,
 1773729536]