<a href="https://colab.research.google.com/github/Sjing2/SJ_practice/blob/master/CNM/2_start_end_division_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive/

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/gdrive/My Drive/프로젝트/network/cc_2_df.csv")

In [4]:
df

       Unnamed: 0        start          end
0               0  13580068590  27733156208
1               1  13337514500  27733156208
2               2  27961899505  27733156208
3               3   5772973535  27733156208
4               4  27733156208  13580068590
...           ...          ...          ...
10530       10530   3188424467   5557754898
10531       10531   3188424467   5763414441
10532       10532   3188424467  31450672398
10533       10533   3188424467   3685838615
10534       10534   3188424467   1435555268

[10535 rows x 3 columns]

In [7]:
start_df = pd.read_csv("/content/gdrive/My Drive/프로젝트/network/start_df.csv")

In [8]:
start_df

       Unnamed: 0       start_1
0               0  13580068590,
1               1  13337514500,
2               2  27961899505,
3               3   5772973535,
4               4  27733156208,
...           ...           ...
10530       10530   3188424467,
10531       10531   3188424467,
10532       10532   3188424467,
10533       10533   3188424467,
10534       10534   3188424467,

[10535 rows x 2 columns]

In [9]:
start_df['start_1'][0]

'13580068590,'

In [10]:
add_df = pd.merge(df, start_df, on = 'Unnamed: 0')
add_df

       Unnamed: 0        start          end       start_1
0               0  13580068590  27733156208  13580068590,
1               1  13337514500  27733156208  13337514500,
2               2  27961899505  27733156208  27961899505,
3               3   5772973535  27733156208   5772973535,
4               4  27733156208  13580068590  27733156208,
...           ...          ...          ...           ...
10530       10530   3188424467   5557754898   3188424467,
10531       10531   3188424467   5763414441   3188424467,
10532       10532   3188424467  31450672398   3188424467,
10533       10533   3188424467   3685838615   3188424467,
10534       10534   3188424467   1435555268   3188424467,

[10535 rows x 4 columns]

In [11]:
add_df.drop(['Unnamed: 0', 'start'], axis='columns', inplace=True)

In [12]:
add_df

               end       start_1
0      27733156208  13580068590,
1      27733156208  13337514500,
2      27733156208  27961899505,
3      27733156208   5772973535,
4      13580068590  27733156208,
...            ...           ...
10530   5557754898   3188424467,
10531   5763414441   3188424467,
10532  31450672398   3188424467,
10533   3685838615   3188424467,
10534   1435555268   3188424467,

[10535 rows x 2 columns]

In [13]:
add_df = add_df[['start_1', 'end']]
add_df

            start_1          end
0      13580068590,  27733156208
1      13337514500,  27733156208
2      27961899505,  27733156208
3       5772973535,  27733156208
4      27733156208,  13580068590
...             ...          ...
10530   3188424467,   5557754898
10531   3188424467,   5763414441
10532   3188424467,  31450672398
10533   3188424467,   3685838615
10534   3188424467,   1435555268

[10535 rows x 2 columns]

In [14]:
add_df = add_df.rename(columns={'start_1': 'start'})
add_df

              start          end
0      13580068590,  27733156208
1      13337514500,  27733156208
2      27961899505,  27733156208
3       5772973535,  27733156208
4      27733156208,  13580068590
...             ...          ...
10530   3188424467,   5557754898
10531   3188424467,   5763414441
10532   3188424467,  31450672398
10533   3188424467,   3685838615
10534   3188424467,   1435555268

[10535 rows x 2 columns]

In [16]:
add_df.to_csv("/content/gdrive/My Drive/프로젝트/network/cc_txt.csv", index=False)