<a href="https://colab.research.google.com/github/Sjing2/SJ_practice/blob/master/CNM/3_start_end_csv_to_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive/

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/gdrive/My Drive/인스타그램_프로파일링/Relation(start, end)/cc_2.csv")

In [4]:
df

             start          end
0      13580068590  27733156208
1      13337514500  27733156208
2      27961899505  27733156208
3       5772973535  27733156208
4      27733156208  13580068590
...            ...          ...
10530   3188424467   5557754898
10531   3188424467   5763414441
10532   3188424467  31450672398
10533   3188424467   3685838615
10534   3188424467   1435555268

[10535 rows x 2 columns]

In [7]:
df.to_csv('/content/gdrive/My Drive/프로젝트/network/cc.txt', index=False, header=None, sep= " ")