<a href="https://colab.research.google.com/github/Sjing2/SJ_practice/blob/master/emoji/emoji_add_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install emoji

Requirement already satisfied: emoji in /usr/local/lib/python3.6/dist-packages (0.6.0)

In [6]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [7]:
import pandas as pd
import numpy as np
import json
import emoji
from collections import Counter

In [8]:
df = pd.read_csv('/content/gdrive/My Drive/·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/emoji_add.csv', index_col =[0])
df

     e_count emoji sentiment  unicode
1     128883     üèª       neu      NaN
2     117109     üëç       pos  U+1F44D
3      91763     ‚ù§       pos   U+2764
4      88323     ‚ô•       pos   U+2665
5      83084     ‚úî       neu   U+2714
..       ...   ...       ...      ...
96      6993     üíñ       pos  U+1F496
97      6911     üíó       pos  U+1F497
98      6859     ‚òÄ       neu   U+2600
99      6812     ‚óæ       neu   U+25FE
100     6798     üëå       pos  U+1F44C

[100 rows x 4 columns]

In [15]:
# 101Î≤àÏß∏ Ìñâ ÏöîÏÜåÎì§Ïù¥ Î™®Îëê nanÍ∞íÏúºÎ°ú Ï∂îÍ∞ÄÎêòÎäîÏßÄ ÌôïÏù∏

df.loc[101] = [np.nan, np.nan, np.nan, np.nan]

In [16]:
# 101Î≤àÏß∏ Ìñâ Ï∂îÍ∞Ä ÌôïÏù∏ ÏôÑÎ£å

df

      e_count emoji sentiment  unicode
1    128883.0     üèª       neu      NaN
2    117109.0     üëç       pos  U+1F44D
3     91763.0     ‚ù§       pos   U+2764
4     88323.0     ‚ô•       pos   U+2665
5     83084.0     ‚úî       neu   U+2714
..        ...   ...       ...      ...
97     6911.0     üíó       pos  U+1F497
98     6859.0     ‚òÄ       neu   U+2600
99     6812.0     ‚óæ       neu   U+25FE
100    6798.0     üëå       pos  U+1F44C
101       NaN   NaN       NaN      NaN

[101 rows x 4 columns]

In [23]:
# forÎ¨∏ÏùÑ Ïù¥Ïö©ÌïòÏó¨ 200Î≤àÏß∏ ÌñâÍπåÏßÄ ÏÉùÏÑ±

for i in range(102, 201):
    df.loc[i] = [np.nan, np.nan, np.nan, np.nan]

print(df) # 200Î≤àÏß∏ ÌñâÏù¥ ÏÉùÏÑ±ÎêòÎäî Í≤ÉÍπåÏßÄ ÌôïÏù∏ ÏôÑÎ£å

      e_count emoji sentiment  unicode
1    128883.0     üèª       neu      NaN
2    117109.0     üëç       pos  U+1F44D
3     91763.0     ‚ù§       pos   U+2764
4     88323.0     ‚ô•       pos   U+2665
5     83084.0     ‚úî       neu   U+2714
..        ...   ...       ...      ...
196       NaN   NaN       NaN      NaN
197       NaN   NaN       NaN      NaN
198       NaN   NaN       NaN      NaN
199       NaN   NaN       NaN      NaN
200       NaN   NaN       NaN      NaN

[200 rows x 4 columns]

In [24]:
df

      e_count emoji sentiment  unicode
1    128883.0     üèª       neu      NaN
2    117109.0     üëç       pos  U+1F44D
3     91763.0     ‚ù§       pos   U+2764
4     88323.0     ‚ô•       pos   U+2665
5     83084.0     ‚úî       neu   U+2714
..        ...   ...       ...      ...
196       NaN   NaN       NaN      NaN
197       NaN   NaN       NaN      NaN
198       NaN   NaN       NaN      NaN
199       NaN   NaN       NaN      NaN
200       NaN   NaN       NaN      NaN

[200 rows x 4 columns]

In [31]:
# Ïûò ÏÉùÏÑ±ÎêòÏóàÎäîÏßÄ Ïä¨ÎùºÏù¥Ïã± Ïù¥Ïö©ÌïòÏó¨ ÌôïÏù∏

df.loc[100:200]

     e_count emoji sentiment  unicode
100   6798.0     üëå       pos  U+1F44C
101      NaN   NaN       NaN      NaN
102      NaN   NaN       NaN      NaN
103      NaN   NaN       NaN      NaN
104      NaN   NaN       NaN      NaN
..       ...   ...       ...      ...
196      NaN   NaN       NaN      NaN
197      NaN   NaN       NaN      NaN
198      NaN   NaN       NaN      NaN
199      NaN   NaN       NaN      NaN
200      NaN   NaN       NaN      NaN

[101 rows x 4 columns]

In [ ]:
# Ïù¥ÌõÑ Ìï† Ïùº: Í∞Å ÌñâÏóê Ï∂îÍ∞ÄÌï† Ïù¥Î™®Ìã∞ÏΩòÏù¥ ÏûàÏúºÎ©¥ ÎÑ£Í≥†, ÏóÜÏúºÎ©¥ Ìñâ ÏÇ≠Ï†úÌï† Í≤É
# ÌäπÌûà ÏÇ¨ÎûåÎì§Ïù¥ ÏûêÏ£º ÏÇ¨Ïö©ÌïòÎäî top 100 Ïù¥Î™®Ìã∞ÏΩòÏùÄ Í∏çÏ†ïÏù¥ ÎßéÏúºÎØÄÎ°ú ÏàòÎèôÏúºÎ°ú Î∂ÄÏ†ï Ïù¥Î™®Ìã∞ÏΩòÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÎÑ£ÏùÑ Í≤É(Í∏çÏ†ï, Î∂ÄÏ†ï, Í∑∏Î¶¨Í≥† Ï§ëÎ¶Ω Î™áÍ∞úÏî© ÏûàÎäîÏßÄ ÌôïÏù∏Î∂ÄÌÑ∞ Ìï† Í≤É!)

In [ ]:
# df.to_csv('/content/gdrive/My Drive/·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/emoji_add.csv')